.hero-section{

    background:url("../images/hero-bus.jpg") center center;

    background-size:cover;

    min-height:650px;

    position:relative;

}

.hero-overlay{

    background:rgba(0,0,0,.55);

    min-height:650px;

    display:flex;

    align-items:center;

}

.search-card{

    background:#fff;

    padding:30px;

    border-radius:18px;

    box-shadow:0 10px 35px rgba(0,0,0,.18);

}

.search-card .btn{

    height:48px;

}
.stats-section{
    background:#fff;
}

.stat-card{
    background:#fff;
    border-radius:16px;
    padding:30px;
    transition:.3s;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.stat-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.12);
}

.stat-icon{
    font-size:40px;
    color:#ff6b00;
    margin-bottom:15px;
}

.stat-card h2{
    font-weight:700;
    color:#1e3a8a;
}

.stat-card p{
    margin:0;
    color:#666;
}

.route-card{
    background:#fff;
    padding:30px;
    border-radius:18px;
    text-align:center;
    transition:.3s;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.route-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.12);
}
.why-us{
    background:#ffffff;
}

.feature-card{
    background:#fff;
    border-radius:18px;
    padding:35px 25px;
    text-align:center;
    transition:.3s;
    height:100%;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.feature-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.12);
}

.feature-icon{
    width:80px;
    height:80px;
    margin:0 auto 20px;
    border-radius:50%;
    background:#fff3eb;
    display:flex;
    align-items:center;
    justify-content:center;
}

.feature-icon i{
    font-size:34px;
    color:#ff6b00;
}

.feature-card h4{
    font-weight:600;
    margin-bottom:15px;
}

.feature-card p{
    color:#6c757d;
    margin-bottom:0;
    line-height:1.7;
}

.cta-box{
    background:linear-gradient(135deg,#1e3a8a,#0f172a);
    border-radius:20px;
    padding:60px 30px;
}

.step-card{
    background:#fff;
    padding:30px;
    border-radius:18px;
    height:100%;
    transition:.3s;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.step-card:hover{
    transform:translateY(-8px);
}

.step-icon{
    width:70px;
    height:70px;
    margin:auto;
    margin-bottom:20px;
    background:#fff3eb;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.step-icon i{
    font-size:30px;
    color:#ff6b00;
}

.testimonials{
    background:#f8fafc;
}

.testimonial-card{

    background:#fff;

    padding:35px;

    border-radius:18px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    transition:.3s;

    height:100%;

}

.testimonial-card:hover{

    transform:translateY(-8px);

}

.stars{

    color:#ffc107;

    font-size:22px;

}
